<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gate01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,184}</string>
                <key>spriteSourceSize</key>
                <string>{140,184}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,190}</string>
                <key>spriteSourceSize</key>
                <string>{142,190}</string>
                <key>textureRect</key>
                <string>{{0,184},{142,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,186}</string>
                <key>spriteSourceSize</key>
                <string>{140,186}</string>
                <key>textureRect</key>
                <string>{{0,374},{140,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,176}</string>
                <key>spriteSourceSize</key>
                <string>{138,176}</string>
                <key>textureRect</key>
                <string>{{0,560},{138,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,170}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{0,736},{128,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,178}</string>
                <key>spriteSourceSize</key>
                <string>{134,178}</string>
                <key>textureRect</key>
                <string>{{0,906},{134,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,182}</string>
                <key>spriteSourceSize</key>
                <string>{136,182}</string>
                <key>textureRect</key>
                <string>{{0,1084},{136,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,1266},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gate.png</string>
            <key>size</key>
            <string>{142,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21343b5cafd52e935c0d8f60a4238e9e:a59e10358e2c2c574a358f45f76a23b0:ba5f6e5480e6cc2c1a0be6c6a623cd17$</string>
            <key>textureFileName</key>
            <string>gate.png</string>
        </dict>
    </dict>
</plist>
