<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{67,57}</string>
                <key>textureRect</key>
                <string>{{72,0},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,60}</string>
                <key>spriteSourceSize</key>
                <string>{67,60}</string>
                <key>textureRect</key>
                <string>{{150,114},{67,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,57}</string>
                <key>spriteSourceSize</key>
                <string>{73,57}</string>
                <key>textureRect</key>
                <string>{{139,0},{73,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,57}</string>
                <key>textureRect</key>
                <string>{{0,57},{75,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,57}</string>
                <key>textureRect</key>
                <string>{{75,57},{75,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,59}</string>
                <key>textureRect</key>
                <string>{{0,114},{75,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,59}</string>
                <key>textureRect</key>
                <string>{{75,114},{75,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,57}</string>
                <key>textureRect</key>
                <string>{{150,57},{75,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,55}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_1.png</string>
            <key>size</key>
            <string>{225,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a314b1a642cd8ed2005a8025179a5ee:0a5f31a67b731fe3778478896fe8c4a9:f35085947a8ca2318a51d36f4792c391$</string>
            <key>textureFileName</key>
            <string>enemy_1.png</string>
        </dict>
    </dict>
</plist>
