<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy3001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,55}</string>
                <key>textureRect</key>
                <string>{{177,0},{44,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{132,0},{45,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{44,0},{44,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{88,0},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{0,55},{46,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{141,121},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{46,55},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,66}</string>
                <key>spriteSourceSize</key>
                <string>{49,66}</string>
                <key>textureRect</key>
                <string>{{150,55},{49,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{96,55},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{199,55},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{193,121},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,66}</string>
                <key>textureRect</key>
                <string>{{0,121},{47,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,66}</string>
                <key>textureRect</key>
                <string>{{47,121},{47,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,66}</string>
                <key>textureRect</key>
                <string>{{94,121},{47,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_3.png</string>
            <key>size</key>
            <string>{245,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b01f329c1db3914627735a43572c96a3:1feb2c6766f587671d41c3cd7913b363:3131cb479b69233d632e987c18bda084$</string>
            <key>textureFileName</key>
            <string>enemy_3.png</string>
        </dict>
    </dict>
</plist>
