<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,145}</string>
                <key>spriteSourceSize</key>
                <string>{91,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{91,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,151}</string>
                <key>spriteSourceSize</key>
                <string>{82,151}</string>
                <key>textureRect</key>
                <string>{{91,0},{82,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,166}</string>
                <key>spriteSourceSize</key>
                <string>{97,166}</string>
                <key>textureRect</key>
                <string>{{0,151},{97,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,151}</string>
                <key>spriteSourceSize</key>
                <string>{82,151}</string>
                <key>textureRect</key>
                <string>{{97,151},{82,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,145}</string>
                <key>spriteSourceSize</key>
                <string>{91,145}</string>
                <key>textureRect</key>
                <string>{{0,317},{91,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,141}</string>
                <key>spriteSourceSize</key>
                <string>{117,141}</string>
                <key>textureRect</key>
                <string>{{91,317},{117,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_5.png</string>
            <key>size</key>
            <string>{208,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee56fddefb00cd43bb9bbdf2fb0681bb:2c194fd8ec663dc374aa4e6ecd2906dc:f85c7d1a26cfb00e9c08060dbc78ce23$</string>
            <key>textureFileName</key>
            <string>enemy_5.png</string>
        </dict>
    </dict>
</plist>
