<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{52,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,67}</string>
                <key>spriteSourceSize</key>
                <string>{52,67}</string>
                <key>textureRect</key>
                <string>{{0,64},{52,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{0,131},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{0,195},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{0,261},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_4.png</string>
            <key>size</key>
            <string>{52,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b072959cfa9498e921d57d5e879bfc:a4269e7def43fb59d205906e3a09077d:1889815a9816f1376913ad212ca32a85$</string>
            <key>textureFileName</key>
            <string>enemy_4.png</string>
        </dict>
    </dict>
</plist>
