<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,91}</string>
                <key>spriteSourceSize</key>
                <string>{57,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{0,91},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{0,173},{57,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{0,251},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,93}</string>
                <key>spriteSourceSize</key>
                <string>{57,93}</string>
                <key>textureRect</key>
                <string>{{0,334},{57,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{0,427},{57,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{0,505},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{0,577},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,86}</string>
                <key>spriteSourceSize</key>
                <string>{57,86}</string>
                <key>textureRect</key>
                <string>{{0,660},{57,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_2.png</string>
            <key>size</key>
            <string>{62,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:176f5d0c8fb91bdf8d53325edc74d48e:1ed7b748d83fd901250f165235e864e0:423ec18cd1262d6fc3cfa367c6fd9b2f$</string>
            <key>textureFileName</key>
            <string>enemy_2.png</string>
        </dict>
    </dict>
</plist>
