<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{0,62},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{0,127},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{0,193},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{0,258},{65,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_0.png</string>
            <key>size</key>
            <string>{65,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d31686bdc6a580e4dd72512709aa0bda:46a09f8d66f66fdac3bbf72665260c39:a91cf84580646abadbef495f01c1b842$</string>
            <key>textureFileName</key>
            <string>enemy_0.png</string>
        </dict>
    </dict>
</plist>
