<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{0,74},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,71}</string>
                <key>spriteSourceSize</key>
                <string>{62,71}</string>
                <key>textureRect</key>
                <string>{{0,146},{62,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{0,217},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{61,71}</string>
                <key>textureRect</key>
                <string>{{0,291},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,71}</string>
                <key>spriteSourceSize</key>
                <string>{62,71}</string>
                <key>textureRect</key>
                <string>{{0,362},{62,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{0,433},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight3.png</string>
            <key>size</key>
            <string>{62,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4070ae277c53bbdb8140eee972b33431:e21e97493f407f26dc857c4ac97f75a8:0c7dbd623bf344a7484b46db5672a668$</string>
            <key>textureFileName</key>
            <string>knight3.png</string>
        </dict>
    </dict>
</plist>
