<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{0,153},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{76,153},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{128,0},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,79}</string>
                <key>spriteSourceSize</key>
                <string>{69,79}</string>
                <key>textureRect</key>
                <string>{{137,74},{69,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{69,74},{68,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{69,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight6.png</string>
            <key>size</key>
            <string>{206,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75477deb021f1494ba88b6f027440b1f:4b3147e5efc74b76f5e4502de3b352fb:f7679311128bff0321db70e5c50b625a$</string>
            <key>textureFileName</key>
            <string>knight6.png</string>
        </dict>
    </dict>
</plist>
