<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{0,153},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{79,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{79,74},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{79,153},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{79,0},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{79,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{157,0},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{157,74},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight4.png</string>
            <key>size</key>
            <string>{235,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725e7fdb29972279421a48d85bb45d75:181045408c315420a0221e43250d1dcd:5314f8c0b2e1db23384dcf1a451dd2e9$</string>
            <key>textureFileName</key>
            <string>knight4.png</string>
        </dict>
    </dict>
</plist>
