<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,79}</string>
                <key>spriteSourceSize</key>
                <string>{72,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,79}</string>
                <key>spriteSourceSize</key>
                <string>{72,79}</string>
                <key>textureRect</key>
                <string>{{0,79},{72,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,79}</string>
                <key>spriteSourceSize</key>
                <string>{71,79}</string>
                <key>textureRect</key>
                <string>{{0,158},{71,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{0,237},{71,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,79}</string>
                <key>spriteSourceSize</key>
                <string>{71,79}</string>
                <key>textureRect</key>
                <string>{{0,320},{71,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight7.png</string>
            <key>size</key>
            <string>{72,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6041ac9a8aed09675f32ae785e2cb467:753679c2fcc7856997a6eecd33989c65:e412b5033d193055dfdee701db25adbb$</string>
            <key>textureFileName</key>
            <string>knight7.png</string>
        </dict>
    </dict>
</plist>
