<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,121}</string>
                <key>spriteSourceSize</key>
                <string>{63,121}</string>
                <key>textureRect</key>
                <string>{{0,0},{63,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,121},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{64,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc6865bdfb1a7c6276c025c91f8efc57:c7af6e460b807659bd7f8f230f04de54:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
